@charset "EUC-KR";
@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'TheJamsil5Bold';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
}

body, html {
	font-family: 'S-CoreDream-3Light';
	margin: 0;
	padding: 0;
	width: 100%;
}

.main-container {
	width: 100%;
	max-width: 850px; /* 최대 너비 설정 */
	margin: 125px auto;
	position: relative;
	padding: 0 20px; /* 좌우 여백 추가 */
	box-sizing: border-box; /* padding을 포함하여 너비를 계산하도록 설정 */
}

.text img {
	width: 30px;
	height: 30px;
	padding-left: 5px; /* 왼쪽 여백 추가 */
	margin-right: 5px; /* 이미지와 텍스트 사이의 간격 */
}

.text {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.text .normal, .text .plo-point {
	margin: 0; /* 기본 마진 제거 */
	font-size: 22px; /* 글자 크기 조정 */
}

.text .plo-point {
	color: #08917c;
}

.banner {
	width: 100%; /* 배너 너비 설정 */
	height: 53px;
	border: 1px solid #08917c;
	box-shadow: 0px 2px 2px rgba(15, 255, 163, 0.4);
	border-radius: 25px; /* 둥근 직사각형 모양으로 변경 */
	box-sizing: border-box;
	position: absolute; /* 위치를 절대적으로 설정 */
	left: 50%; /* 전체 컨테이너의 중앙에 위치하도록 설정 */
	transform: translateX(-50%);
	/* 배너 너비의 절반만큼 왼쪽으로 이동시켜서 정확히 중앙에 위치하도록 함 */
	display: flex; /* flexbox 활성화 */
	align-items: center; /* 수직 중앙 정렬 */
	margin-bottom: 20px;
}

/* Plogging_01 */
.plogging_01 {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 20px;
	box-sizing: border-box;
	margin-top: 200px;
	flex-direction: row;
}

/* Plogging_01 이미지*/
.plogging_01 img {
	margin-left: 40px;
	width: 700px;
	height: auto;
}

/* Plogging_01 타이틀&내용 */
.plogging_01-TC {
	text-align-last: right;
	margin-right: 40px;
}

/* Plogging_01 타이틀 */
#plogging_01-title {
	font-family: 'TheJamsil5Bold';
	font-size: 65px;
	margin-bottom: 15px;
}

.title {
	color: #08917c;
	display: inline;
}

.dot {
	color: #777777;
}

/* Plogging_01 내용 */
.plogging_01-content {
	display: flex;
	flex-direction: column;
	font-size: 18px;
}

/* Plogging_02 */
.plogging_02 {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 20px;
	box-sizing: border-box;
	margin-top: 200px;
	flex-direction: row-reverse;
}

/* Plogging_02 이미지*/
.plogging_02 img {
	margin-right: 40px;
	width: 700px;
	height: auto;
}

/* Plogging_02 타이틀&내용 */
.plogging_02-TC {
	margin-left: 40px;
}

/* Plogging_02 타이틀 */
#plogging_02-title {
	font-family: 'TheJamsil5Bold';
	font-size: 65px;
	margin-bottom: 15px;
}

.title {
	color: #08917c;
	display: inline;
}

.dot {
	color: #777777;
}

/* Plogging_02 내용 */
.plogging_02-content {
	display: flex;
	flex-direction: column;
	font-size: 18px;
}

/* Plogging_03 */
.plogging_03 {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 20px;
	box-sizing: border-box;
	margin-top: 200px;
	flex-direction: row;
}

/* Plogging_03 이미지*/
.plogging_03 img {
	margin-left: 40px;
	width: 700px;
	height: auto;
}

/* Plogging_03 타이틀&내용 */
.plogging_03-TC {
	text-align-last: right;
	margin-right: 40px;
}

/* Plogging_03 타이틀 */
#plogging_03-title {
	font-family: 'TheJamsil5Bold';
	font-size: 65px;
	margin-bottom: 15px;
}

.title {
	color: #08917c;
	display: inline;
}

.dot {
	color: #777777;
}

/* Plogging_03 내용 */
.plogging_03-content {
	display: flex;
	flex-direction: column;
	font-size: 18px;
}

/* Plogging_04 */
.plogging_04 {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 20px;
	box-sizing: border-box;
	margin-top: 200px;
	flex-direction: row-reverse;
}

/* Plogging_04 이미지*/
.plogging_04 img {
	margin-right: 40px;
	width: 700px;
	height: auto;
}

/* Plogging_04 타이틀&내용 */
.plogging_04-TC {
	margin-left: 40px;
}

/* Plogging_04 타이틀 */
#plogging_04-title {
	font-family: 'TheJamsil5Bold';
	font-size: 65px;
	margin-bottom: 15px;
}

.title {
	color: #08917c;
	display: inline;
}

.dot {
	color: #777777;
}

/* Plogging_04 내용 */
.plogging_04-content {
	display: flex;
	flex-direction: column;
	font-size: 18px;
}

/* Plogging_01-04 동일*/
.point {
	color: #08917c;
	font-weight: bold;
}

.custom-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	border: 1px solid #08917c;
	border-radius: 25px;
	padding: 10px 20px;
	cursor: pointer;
	text-align: center;
	color: #08917c;
	font-size: 18px;
	text-decoration: none; /* 밑줄 제거 */
	transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-button:hover {
	background-color: #00a989;
	color: #ffffff;
}

/* 이미지 호버 효과 */
.plogging_01 img, .plogging_02 img, .plogging_03 img, .plogging_04 img {
    transition: transform 0.3s ease-in-out;
}

.plogging_01 img:hover, .plogging_02 img:hover, .plogging_03 img:hover, .plogging_04 img:hover {
    transform: translateY(-10px); /* 호버 시 이미지가 10px 위로 이동 */
}

/* 스크롤 css */
.plogging_02, .plogging_03, .plogging_04 {
	opacity: 0;
	transform: translateX(50px);
	transition: opacity 0.6s ease, transform 0.6s ease;
}

.plogging_03 {
	transform: translateX(-50px);
}

/* 애니메이션 효과 적용 */
.show {
	opacity: 1;
	transform: translateX(0);
}

footer {
	font-size: 13px;
	text-align: center;
	margin-top: 300px;
	margin-bottom: 25px;
}

.aiHelper-container {
    position: fixed;
    bottom: 30px;
    right: 50px;
    background-color: #00a989;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    cursor: pointer; /* 마우스 커서 변경 */
    display: flex;
    align-items: center;
    animation: bounce 0.3s infinite alternate;
}

/* 애니메이션 정의 */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

.aiHelperImg img {
	width: 30px;
    margin-right: 5px;
}

.aiHelperText {
    font-size: 16px;
    font-weight: bold;
}

/* 미디어 쿼리 */
@media ( max-width : 768px) {
	/* 플로킹 */
	.container {
		padding: 0 15px;
	}
	.text .normal, .text .point {
		font-size: 20px;
	}
	.banner {
		width: calc(100% - 20px); /* 중간 크기 화면에서 좌우 여백 조정 */
		height: 40px;
		padding: 0 15px;
	}
	.banner p {
		font-size: 15px;
	}
	.plogging_01, .plogging_03 {
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 0;
		margin-right: 20px;
		box-sizing: border-box;
		margin-top: 100px;
	}
	.plogging_02, .plogging_04 {
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 0;
		margin-left: 20px;
		box-sizing: border-box;
		margin-top: 100px;
	}
	.plogging_01 img, .plogging_03 img {
		margin: 0;
		width: 100%;
		max-width: 500px;
		height: auto;
		margin-top: 75px;
	}
	.plogging_02 img, .plogging_04 img {
		margin: 0;
		width: 100%;
		max-width: 500px;
		height: auto;
		margin-top: 75px;
	}
	.plogging_01-TC, .plogging_03-TC {
		text-align: right;
		margin: 20px 0;
		margin-left: auto;
		margin-right: 0;
	}
	.plogging_02-TC, .plogging_04-TC {
		text-align: left;
		margin: 20px 0;
		margin-right: auto;
		margin-left: 0;
	}
	#plogging_01-title, #plogging_02-title, #plogging_03-title,
		#plogging_04-title {
		font-size: 38px;
	}
	.plogging_01-content, .plogging_02-content, .plogging_03-content,
		.plogging_04-content {
		font-size: 13px;
	}
	.custom-button {
		padding: 10px 18px;
		font-size: 16px;
		border-radius: 20px;
	}
	.aiHelper-container {
		right: 20px;
		padding: 8px 16px;
	}
	.aiHelperImg img {
		width: 25px;
		margin-right: 5px;
	}
	.aiHelperText {
		font-size: 13px;
	}
}