@charset "EUC-KR";
@font-face {
   font-family: 'S-CoreDream-3Light';
   src:
      url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
      format('woff');
   font-weight: 300;
   font-style: normal;
}

body, html {
   font-family: 'S-CoreDream-3Light';
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

.container {
   width: 100%;
   max-width: 1100px;
   margin: 125px auto;
   position: relative;
   padding: 0 20px;
   box-sizing: border-box;
}

.market_Read_btn_back {
	color: grey;
	background-color: transparent;
	border-radius: 5px;
	text-decoration: none;
}

.market_Read_wrapper {
	display: grid;
	 grid-template-columns: repeat(2, 1fr);
	 gap: 20px;
	 padding: 50px 20px;
}

.purchase_btn {
	display: inline-block;
   background-color: #00a989;
   color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    width: 75%;
    font-family: 'S-CoreDream-3Light';
    font-size: 15pt;
    font-weight:bold;
    text-decoration: none;
}

.Delete_btn {
	display: inline-block;
   background-color: #00a989;
   color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    width: 75%;
    font-family: 'S-CoreDream-3Light';
    font-size: 15pt;
    font-weight:bold;
    text-decoration: none;
}

.marketRead_content {
	text-align: center;
}

#marketRead_info_category {
	font-size: 15pt;
	color: grey;
}

#marketRead_info_category_content {
	font-size: 15pt;
	color: #00a989;
	font-weight:bold;
}

#marketRead_info_title {
	font-size: 25pt;
	color: black;
	font-weight:bold;
	display: inline-block;
    margin-bottom: 10px;
}

#marketRead_info_mileage {
	font-size: 20pt;
	color: black;
	font-weight:bold;
	display: inline-block;
    margin-bottom: 20px;
}

#marketRead_info_span {
	font-size: 10pt;
	color: grey;
	display: inline-block;
    margin-bottom: 35px;
	
}

#marketRead_info_content {
	font-size: 10pt;
	color: black;
	font-weight:bold;
	margin-bottom: 35px;
}

.marketRead_content {
	padding:30px 20px;
}