@charset "EUC-KR";
@font-face {
   font-family: 'S-CoreDream-3Light';
   src:
      url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
      format('woff');
   font-weight: 300;
   font-style: normal;
}

body, html {
   font-family: 'S-CoreDream-3Light';
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

.container {
   width: 100%;
   max-width: 1100px;
   margin: 110px auto;
   position: relative;
   padding: 0 20px;
   box-sizing: border-box;
}

#market_title {
	color: #00a484;
	font-size: 30px;
}

.market_List_Text h3 {
	font-size: 16px;
	margin: 0;
	padding: 0 16px 10px;
}

.market_List_categorys {
   padding: 0 0 10px;
   
}

.market_List_category_li {
   display: inline-block;
   width: auto;
   padding: 8px 15px;
   border-radius: 20px;
   text-decoration: none;
   color: #808080;
   font-size: 16px;
   text-decoration: none;
   transition: background-color 0.3s ease, color 0.3s ease;
   cursor: pointer;
}

.market_List_category_li:hover {
    background-color: #00a989;
    color: white;
}

.market_List_category_li.active {
	color: white;
    background-color: #00a989; /* 선택된 상태에서 배경색 */
}

.market_List_option {
   text-align: right;
   margin: 0 10px 15px;
}

.market_List_option button {
   background-color: transparent;
   color: gray;
   border: none;
   cursor: pointer;
   margin: 5px auto;
   font-family: 'S-CoreDream-3Light';
   font-size: 14px;
   transition: background-color 0.3s ease, color 0.3s ease;
}

.market_List_option_btn.active {
    color: black;
    font-weight: bold;
}

.market_List_option_btn:hover {
	color: black;
	font-weight: bold;
}

.market_card_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-auto-flow: dense;
    margin-bottom: 20px;
}

.market_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    
}

.market_card_link {
    width: 100%;
    height: auto;
    text-decoration: none;
    color: inherit;
}

.market_card_photo {
	position: relative;
    width: 100%;
    height: auto;
}

.market_card_photo_image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    
}

.market_card_desc {
   width: 100%;
   height: 100%;
   align-items: left;   
   color: black;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.marketTitle {
	font-family: 'S-CoreDream-3Light';
   font-size: 18px;
   margin: 5px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 250px;
}

.market_card_desc span {
   font-size: 15px;
   margin: 5px;
}

.market_card_price {
	font-weight: bold;
}

.market_card_category {
	color: #00a989;
}

.market_Wirte {
   text-align: right;
}

.market_card_writer {
   color: grey;
}

.market_no_data_message {
   font-size: 16px;
   text-align: center;
   margin: 150px 50px 150px;
   color: #777;	
}

.market_Wirte_Btn {
    display: inline-block;
   background-color: #00a989;
   color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    font-family: 'S-CoreDream-3Light';
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.market_Wirte_Btn:hover {
	background-color: #08917c;
}

.market_pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;

}

.market_pagination a {
    text-decoration: none;
	padding: 8px 16px;
	color: #a1acbd;
	border: none;
	transition: all 0.2s ease-in-out;
}

.market_pagination a:hover {
    color: #00a989;
}

.market_pagination a.active{
    color: #00a989;
}

.sold-out-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(116, 116, 116, 0.7);
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 10;
}

footer {
	font-size: 13px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 25px;
}

@media screen and (max-width: 900px) {
    .market_card_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .market_card_photo_image {
    width: 100%;
    max-height: 358px;
    object-fit: cover;
    border-radius: 10px;
    
}
}


@media screen and (max-width: 600px) {
	.market_card_wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
	#market_title {
		color: #00a484;
		font-size: 24px;
	}
	.market_List_Text h3 {
		padding: 0 12px 10px;
		font-size: 14px;
	}
	.market_List_category_li {
		padding: 6px 11px;
		font-size: 14px;
	}
	.market_card_link {
		width: 150px;
		height: px;
	}
	.market_List_option {
	   text-align: right;
	   margin: 0 5px 5px;
	}
	.market_List_option button {
	   margin: 5px auto;
	   font-size: 12px;
	}
	.market_card_photo_image {
		width: 100%;
		max-height: 150px;
		object-fit: cover;
		border-radius: 10px;
	}
	.market_card_desc h2 {
		font-size: 15px;
		margin: 5px;
	}
	.market_card_desc span {
		font-size: 13px;
		margin: 3px;
	}
	.market_Wirte_Btn {
		font-size: 13px;
		padding: 7px 12px;
	}
	footer {
		font-size: 11px;
	}}