@charset "EUC-KR";

@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: 300;
	font-style: normal;
}

body, html {
	font-family: 'S-CoreDream-3Light';
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.container {
	width: 100%;
	max-width: 1100px;
	margin: 125px auto;
	position: relative;
	padding: 0 20px;
	box-sizing: border-box;
}

.market_Read_btn_back_top {
	color: grey;
	background-color: transparent;
	border-radius: 5px;
	text-decoration: none;
}

.market_Read_btn_back__bottom {
	display: flex;
	justify-content: center;
	align-items: center;
}

.market_Read_btn_back_bottom {
	color: grey;
	background-color: white;
	border-radius: 5px;
	border-color: #BDBDBD;
	border-style: solid;
	text-decoration: none;
	padding: 10px 10%;
	margin: 100px 0 0 0;
}

.market_Read_wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	padding: 50px 20px;
}

.image_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_btn button {
    padding: 5px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgb(130, 130, 130);
    cursor: pointer;
    margin: 5px 5px 0 0;
}

.image_btn button:first-child {
    margin-left: 0; /* 첫 번째 버튼의 마진을 0으로 설정 */
}

.image_btn button.selected {
    padding: 5px;
    background-color: rgb(130, 130, 130);
    color: white;
}

.function_button_container {
	
}

.purchase_btn {
	display: inline-block;
	background-color: #00a989;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	font-family: 'S-CoreDream-3Light';
	font-size: 15pt;
	font-weight: bold;
	text-decoration: none;
}

.Delete_btn {
	display: inline-block;
	background-color: #00a989;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	font-family: 'S-CoreDream-3Light';
	font-size: 15pt;
	font-weight: bold;
	text-decoration: none;
}

.login_btn {
	display: inline-block;
	background-color: #00a989;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	font-family: 'S-CoreDream-3Light';
	font-size: 15pt;
	font-weight: bold;
	text-decoration: none;
}

.marketRead_content {
	text-align: center;
}

.marketRead_content h4 {
	margin: 0 20px 50px;
}

.marketRead_img__image {
	max-width: 530px;
	width: 100%;
	max-height: 530px;
	object-fit: cover;
	border-radius: 10px;
}

.marketRead_info {
	width: 100%;
}

#marketRead_info_category {
	font-size: 15pt;
	color: grey;
}

#marketRead_info_category_content {
	font-size: 15pt;
	color: #00a989;
	font-weight: bold;
}

#marketRead_info_title {
	font-size: 25pt;
	color: black;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 10px;
}

#marketRead_info_mileage {
	font-size: 20pt;
	color: black;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 20px;
}

#marketRead_info_span {
	font-size: 11pt;
	color: grey;
	display: inline-block;
	margin-bottom: 35px;
}

#marketRead_info_content {
	font-size: 11pt;
	color: black;
	font-weight: bold;
	margin: 0 35px 0 7px;
}

.marketRead_content {
	padding: 30px 20px;
}

footer {
	font-size: 13px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 25px;
}

@media screen and (max-width: 700px) {
	.marketRead_img__image {
		max-width: 552px;
	}
	.market_Read_wrapper {
		grid-template-columns: repeat(1, 1fr);
	}
	footer {
		font-size: 11px;
	}
}