@charset "EUC-KR";
@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: 300;
	font-style: normal;
}

body, html {
	font-family: 'S-CoreDream-3Light';
	margin: 0;
	padding: 0;
}

#login-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001; /* 헤더보다 위에 나오도록 설정 */
}

.login-container {
	background: white;
	padding: 20px;
	border-radius: 8px;
	width: 325px;
	text-align: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container img {
	width: 200px;
	margin-bottom: 20px;
}

.login-id-input {
	width: 100%;
	padding: 10px;
	border: 1px solid #a1acbd;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: S-CoreDream-3Light;
	outline: none;
}

.login-pw-input {
	width: 100%;
	padding: 10px;
	border: 1px solid #a1acbd;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: S-CoreDream-3Light;
	margin-bottom: 10px;
	outline: none;
}

#errorMessage {
	display: none;
	color: red;
	font-size: 13px;
}

.login-button {
	width: 100%;
	padding: 10px;
	background-color: #00a989;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 15px;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 10px;
	transition: background-color 0.3s ease;
}

.login-button:hover {
	background-color: #08917c;
}

/* .or {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 10px 0;
	font-size: 13px;
}

.or .line {
	flex-grow: 1;
	height: 0.5px;
	background-color: #a1acbd;
	margin: 0 10px;
}

.or span {
	color: #a1acbd;
	font-weight: bold;
	white-space: nowrap;
}

.kakao-login {
	width: 100%;
	padding: 10px;
	background-color: #FAE100;
	color: black;
	border: none;
	border-radius: 4px;
	font-size: 15px;
	cursor: pointer;
	margin-bottom: 10px;
	transition: background-color 0.3s ease;
}

.kakao-login:hover {
	background-color: #ffd14c;
} */

.login-options {
	display: flex;
	justify-content: center;
	font-size: 12px;
	color: #555;
	text-decoration: none;
}

.login-options span {
	display: flex;
	justify-content: center;
	font-size: 12px;
	color: #555;
	text-decoration: none;
}

#join-link {
	color: #00a989;
	font-weight: bold;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

#join-link:hover {
	text-decoration: underline;
}

.modal-close {
	margin-top: 20px;
	font-size: 12px;
	color: #555;
	cursor: pointer;
}

/* 회원가입 모달 */
#join-modal {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1001; /* 헤더보다 위에 나오도록 설정 */
}

.join-container {
	background: white;
	padding: 20px;
	border-radius: 8px;
	width: 325px;
	text-align: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.join-container img {
	width: 200px;
	margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th {
    padding: 14px;
    border: none;
    text-align: left;
    font-size: 14px;
    font-wight: normal;
    white-space: nowrap;
    vertical-align: top;
}

td {
    padding: 8px;
    border: none;
    text-align: left;
}

.join-id-input,
.join-pw-input,
.join-pw-confirm,
.join-nick-input {
    width: 100%;
    height: 30px;
	padding: 10px;
	border: 1px solid #a1acbd;
	border-radius: 4px;
	box-sizing: border-box;
	outline: none;
}

#idMsg {
	display: none;
	font-size: 11px;
	color: red;
	position: relative;
    top: 5px;
}

#pwMsg {
	display: none;
	font-size: 11px;
	color: red;
	position: relative;
    top: 5px;
}

.phone-container {
	margin-bottom: 10px;
}

#mobile1,
#mobile2,
#mobile3 {
    width: calc(33% - 10px);
    height: 30px;
	border: 1px solid #a1acbd;
	border-radius: 4px;
    box-sizing: border-box;
    margin-right: 5px;
    background-color: white;
    color: #000;
    outline: none;
}

#phMsg {
	display: none;
	font-size: 11px;
	color: red;
	position: relative;
    top: 5px;
}

.tel-confirm {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    background-color: #a1acbd;
    font-size: 13px;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.join-sns-input {
    width: 100%;
    height: 30px;
	padding: 0px;
	border: 1px solid #a1acbd;
	border-radius: 4px;
	box-sizing: border-box;
	position: relative;
	margin-bottom: 10px;
}

#otp {
    width: 100%;
    height: 100%;
    padding-right: 40px; /* 타이머와 겹치지 않도록 padding 설정 */
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    color: #000;
	outline: none;
}



#nickMsg {
	display: none;
	font-size: 11px;
	color: red;
	position: relative;
    top: 5px;
}

.btnSubmit {
	width: 100%;
    height: 30px;
    padding: 0 10px;
    background-color: #a1acbd;
    font-size: 13px;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.join-button {
	width: 100%;
	padding: 10px;
	background-color: #00a989;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 15px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.join-button:hover {
	background-color: #08917c;
}


/* 지도 이미지 모달 */
.courseModal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001; /* 헤더보다 위에 나오도록 설정 */
}

.courseModal-inner-content {
	padding: 15px;
}

.courseModal-content {
    background-color: #fefefe;
    margin: 10% auto;
    border: 1px solid #888;
    width: 100%;
    max-width: 600px;
    max-height: 80vh;
    border-radius: 5px;
    overflow-y: auto;
}

.courseModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
	margin-right: 15px;
	transition: background-color 0.3s, color 0.3s;
}

.courseModal .close:hover,
.courseModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* ai 모달(메인) */
#ai-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.5s ease-out;
}

#ai-modal.show {
    opacity: 1;
    transform: translateY(0);
    animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.ai-container {
    background: white;
	padding: 20px;
	border-radius: 8px;
	width: 425px;
    text-align: center;
    box-shadow: 0px 1px 5px rgba(0, 169, 137, 0.2);
    position: fixed;
    bottom: 25px;
    right: 50px;
    border: 0.3px solid #08917c;
    z-index: 1000; /* 다른 요소 위에 표시되도록 */
}

.ai-logo {
	width: 180px;
}

.ai-modal-body {
    margin-bottom: 20px; /* 전체 콘텐츠 아래 여백 추가 */
    /* border: 1px solid #a1acbd; */
    border-radius: 8px;
/*     padding: 10px; */
}

.ai-body {
    display: flex;
    flex-direction: row; /* 요소들을 가로로 정렬 */
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px; /* 텍스트 아래 여백 추가 */
}

.ai-body img {
    width: 45px; /* AI 이미지 크기 */
    height: 45px; /* AI 이미지 크기 */
    margin-right: 5px;
}

.ai-body span {
    font-size: 16px;
    margin-top: 15px;
}

.ai-Imgpoint {
	color: #00a989;
}

.ai-modal-body form {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'S-CoreDream-3Light';
}

input[type="file"] {
    font-size: 13px;
    cursor: pointer;
    font-family: 'S-CoreDream-3Light';
}

input[type="submit"] {
    font-size: 13px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #00a989;
    border: none;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-family: 'S-CoreDream-3Light';
}

input[type="submit"]:hover {
    background-color: #08917c; /* 업로드 버튼에 마우스 오버 시 배경 색상 */
}

.ai-modal-close {
	margin-top: 20px;
	font-size: 12px;
	color: #555;
	cursor: pointer;
}

.ai-modal-close:hover {
	text-decoration: underline;
}



/* ai 모달(나의 플로깅) */
#myplo-ai-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.5s ease-out;
}

#myplo-ai-modal.show {
    opacity: 1;
    transform: translateY(0);
    animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.myplo-ai-container {
    background: white;
	padding: 20px;
	border-radius: 8px;
	width: 620px;
    text-align: center;
    box-shadow: 0px 1px 5px rgba(133, 145, 162, 0.2);
    position: fixed;
    bottom: 20px;
    right: 50px;
    border: 0.3px solid #a1acbd;
    z-index: 1000; /* 다른 요소 위에 표시되도록 */
}

.myplo-ai-logo {
	width: 200px;
}

.myplo-ai-modal-body {
    margin-bottom: 20px;
    border-radius: 8px;
}

.myplo-ai-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.myplo-ai-body img {
    width: 55px;
    height: 55px;
    margin-right: 5px;
}

.myplo-ai-body span {
    font-size: 18px;
    margin-top: 15px;
}

.myplo-ai-Imgpoint {
	color: #a1acbd;
	font-weight: bold;
}

.myplo-ai-modal-body form {
	display: flex;
    flex-direction: row; /* 요소들을 가로로 정렬 */
    align-items: center;
    justify-content: center; /* 가운데 정렬 */
    margin-bottom: 30px;
    font-family: 'S-CoreDream-3Light';
}

.myplo-file {
    font-size: 15px !important;
    cursor: pointer;
    font-family: 'S-CoreDream-3Light' !important;
}

.myplo-submit {
    font-size: 15px !important;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #a1acbd !important;
    border: none;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-family: 'S-CoreDream-3Light' !important;
}

.myplo-submit:hover {
    background-color: #8b99b1 !important; /* 업로드 버튼에 마우스 오버 시 배경 색상 */
}

.myplo-ai-modal-close {
	margin-top: 20px;
	font-size: 12px;
	color: #555;
	cursor: pointer;
}

.myplo-ai-modal-close:hover {
	text-decoration: underline;
}


/* 미디어 쿼리 */
@media ( max-width : 768px) {
	.ai-container {
		width: 325px;
		right: 10px;
	}
	.ai-modal-body {
		margin-bottom: 10px;
	}
	.ai-body {
		margin-top: 10px;
		margin-bottom: 10px; /* 텍스트 아래 여백 추가 */
	}
	.ai-body img {
		width: 35px; /* AI 이미지 크기 */
		height: 35px; /* AI 이미지 크기 */
		margin-right: 5px;
	}
	.ai-body span {
		font-size: 14px;
		margin-top: 15px;
	}
	input[type="file"] {
		font-size: 10px;
		cursor: pointer;
		font-family: 'S-CoreDream-3Light';
	}
	input[type="submit"] {
		font-size: 11px;
		padding: 7px;
	}
	
	/* ai모달(나의플로깅) */
	.myplo-ai-container {
		width: 300px;
		right: 10px;
	}
	.myplo-ai-logo {
		width: 180px;
	}
	.myplo-ai-modal-body {
		margin-bottom: 10px;
	}
	.myplo-ai-body {
		margin-top: 10px;
		margin-bottom: 10px; /* 텍스트 아래 여백 추가 */
	}
	.myplo-ai-body img {
		width: 35px; /* AI 이미지 크기 */
		height: 35px; /* AI 이미지 크기 */
		margin-right: 5px;
	}
	.myplo-ai-body span {
		font-size: 13px;
		margin-top: 15px;
	}
	.myplo-file {
		font-size: 10px !important;
	}
	.myplo-submit {
		font-size: 10px !important;
		padding: 7px;
	}
}