@charset "EUC-KR";

@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: 300;
	font-style: normal;
}

body, html {
	font-family: 'S-CoreDream-3Light';
	margin: 0;
	padding: 0;
	width: 100%;
}

.mypage-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 125px auto 0 auto;
	width: 400px;
	box-sizing: border-box;
}

.profile-container {
	width: 100%;
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	color: #00a989;
	margin-bottom: 5px;
}

.profile-line {
	border-bottom: 2px solid #a1acbd;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.profile-container-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

.pc-inner-left img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.pc-inner-right {
	text-align: left;
	margin-left: 10px;
}

.profile-nContainer {
	display: flex;
	align-items: center;
	justify-content: space-between; /* 양쪽 끝으로 배치 */
	width: 100%;
	padding: 0;
	white-space: nowrap; /* 텍스트 줄바꿈 방지 */
	overflow: hidden; /* 컨테이너 넘어가는 요소 숨김 */
}

.profile-nick {
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 5px;
	flex-shrink: 1;
}

.pro-usernick {
	font-size: 18px;
	font-weight: bold;
	margin-right: 2px;
}

.pro-nim {
	font-size: 18px;
}

.logout-container {
	display: inline-flex;
	align-items: center;
	padding: 5px 10px;
	border: 1px solid #a1acbd;
	border-radius: 50px;
	cursor: pointer;
	background-color: white;
	flex-shrink: 0; /* 로그아웃 버튼은 크기 유지 */
}

/* 로그아웃 버튼 */
.logout-container {
	display: inline-flex;
	align-items: center;
	padding: 2px 5px;
	border: 1px solid #a1acbd;
	border-radius: 50px;
	cursor: pointer;
	background-color: white;
	margin-left: auto;
}

.logout-text {
	margin-right: 5px;
	font-size: 11px;
	font-weight: bold;
	color: #a1acbd;
}

.logout-container img.icon {
	width: 17px;
	height: 17px;
}

.profile-info {
	margin-top: 10px;
	color: #666;
	font-size: 13px;
}

.profile-heart {
	color: #e74c3c;
}

.profile-activity {
	margin-top: 10px;
}

.profile-activity span {
	font-size: 15px;
}

.profile-activity .point {
	font-size: 15px;
	color: #00a989;
}

.mypage-ul {
	list-style: none;
	padding: 0;
}

.mypage-ul li {
	text-align: left;
	margin: 20px 0;
}

.mypage-ul li a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mypage-ul li a:hover {
	color: #00a989;
}

.mypage-ul li a img {
	width: 20px;
	height: 20px;
}

footer {
	font-size: 13px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
	.mypage-container {
		width: 90%;
		margin-top: 100px;
		box-sizing: border-box;
	}
	.profile-container {
		font-size: 24px;
	}
	.profile-container-inner {
		margin-bottom: 40px;
	}
	.pc-inner-right {
		margin-left: 0;
		margin-top: 10px;
	}
	.profile-nContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.pro-usernick, .pro-nim {
		font-size: 16px;
	}
	.profile-nick {
		overflow: visible;
		margin-right: 0;
		flex-shrink: 0;
	}
	.logout-container {
		margin-top: 3px; /* 닉네임 아래에 간격 추가 */
		align-self: flex-star; /* 좌측 정렬 */
		margin-left: 0;
		padding: 1px 5px;
	}
	.logout-text {
		font-size: 10px;
	}
	.profile-info {
		font-size: 12px;
	}
	.profile-activity span, .profile-activity .point {
		font-size: 14px;
	}

	/* 리스트 항목 크기 조정 */
	.mypage-ul li {
		margin: 20px 0;
	}
	.mypage-ul li a {
		font-size: 16px;
	}
	.mypage-ul li a img {
		width: 18px;
		height: 18px;
	}
	.profile-line {
		width: 100%; /* 선 너비를 컨테이너에 맞춤 */
		margin-bottom: 10px; /* 선 아래의 마진 축소 */
	}
	footer {
		font-size: 11px;
	}
}