@charset "EUC-KR";
@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: 300;
	font-style: normal;
}

body, html {
	font-family: 'S-CoreDream-3Light';
	margin: 0;
	padding: 0;
	width: 100%;
}

.mypage-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 125px auto 0 auto;
    width: 400px;
    box-sizing: border-box;
}


.profile-container {
	width: 100%;
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	color: #01875f;
	margin-bottom: 5px;
}

.profile-line {
    border-bottom: 2px solid #a1acbd;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.profile-container-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.pc-inner-left img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.pc-inner-right {
    text-align: left;
    margin-left: 20px;
}

.profile-nick span:first-child {
    font-size: 18px;
    font-weight: bold;
}

.profile-nick span:last-child {
    font-size: 18px;
}

.profile-info {
    margin-top: 10px;
    color: #666;
    font-size: 15px;
}

.profile-activity {
    margin-top: 10px;
}

.profile-activity span {
    font-size: 16px;
}

.profile-activity .point {
    font-size: 16px;
    color: #01875f;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    text-align: left;
    margin: 20px 0;
}

ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li a:hover {
    color: #01875f;
}

ul li a img {
    width: 20px;
    height: 20px;
}

footer {
	font-size: 13px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 25px;
}


@media screen and (max-width: 768px) {
	.mypage-container {
		width: 90%;
		margin-top: 100px;
	    box-sizing: border-box;
	}

	.profile-container {
		font-size: 24px;
		margin-bottom: 10px;
	}

	.profile-container-inner {
		margin-bottom: 40px;
	}

	.pc-inner-left img {
		width: 150px; /* 이미지 크기 축소 */
		height: 150px;
	}

	.pc-inner-right {
		margin-left: 0;
		margin-top: 10px;
	}

	.profile-nick span:first-child {
		font-size: 17px;
	}

	.profile-nick span:last-child {
		font-size: 17px;
	}

	.profile-info {
		font-size: 13px;
	}

	.profile-activity span, .profile-activity .point {
		font-size: 14px;
	}

	/* 리스트 항목 크기 조정 */
	ul li {
		margin: 20px 0;
	}

	ul li a {
		font-size: 16px;
	}

	ul li a img {
		width: 18px;
		height: 18px;
	}

	.line {
		width: 100%; /* 선 너비를 컨테이너에 맞춤 */
		margin-bottom: 10px; /* 선 아래의 마진 축소 */
	}
	
	footer {
		font-size: 11px;
	}
}