@charset "EUC-KR";

@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: 300;
	font-style: normal;
}

body, html {
	font-family: 'S-CoreDream-3Light';
	margin: 0;
	padding: 0;
	width: 100%;
}

/* 전체 컨테이너 스타일링 */
.myplogging-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 125px auto 0 auto;
    width: 600px;
    box-sizing: border-box;
}

.cuPlogging-container {
	width: 600px;
}

/* 섹션 제목 스타일 */
.current-plogging, .completed-plogging {
    width: 100%;
	text-align: left;
	margin-bottom: 10px;
}

.current-text, .completed-text {
	font-size: 30px;
	font-weight: bold;
	color: #01875f;
}

/* 라인 스타일 */
.current-line, .completed-line {
	border-bottom: 2px solid #a1acbd;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}

/* 현재 진행 중인 플로깅 정보 */
.current-course {
    width: 100%;
    margin-bottom: 20px;
}

.inProgress-Name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* QR 코드 섹션 */
.inProgress-img {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inProgress-courseQR1, .inProgress-courseQR2, .inProgress-courseQR3 {
    text-align: center;
    flex-basis: 30%;
}

.inProgress-courseQR1 img, .inProgress-courseQR2 img, .inProgress-courseQR3 img {
    width: 50px;
    height: 50px;
}

.inProgress-img .inProgress-courseQR1 span,
.inProgress-img .inProgress-courseQR2 span,
.inProgress-img .inProgress-courseQR3 span {
    display: block;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.coPlogging-container {
	width: 600px;
    margin-top: 75px;
}

/* 완료한 플로깅 정보 */
.completed-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
}

.completed-item .completed-date {
    font-size: 16px;
    flex-basis: 20%;
    text-align: left; /* 왼쪽 정렬 */
}

.completed-item .completed-course {
	font-size: 16px;
    color: #08917c;
    flex-basis: 40%;
    text-align: center;
}

.completed-btn {
    background-color: #00a989;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'S-CoreDream-3Light';
    font-size: 16px;
    flex-basis: 20%;
    text-align: center;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.completed-btn:hover {
    background-color: #08917c;
}

/* footer */
footer {
	font-size: 13px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
	.myplogging-container {
		width: 100%;
		margin-top: 100px;
	}
	
	.cuPlogging-container {
		width: 90%
	}
	
	.current-text, .completed-text {
		font-size: 24px;
	}
	
	.current-line, .completed-line {
		margin-bottom: 10px;
	}
	
	.inProgress-Name {
    font-size: 14px;
}
	
	.coPlogging-container {
		width: 90%;
	}
	
	.completed-item .completed-date, .completed-item .completed-course {
	    font-size: 14px;
	}
	
	.completed-btn {
	    font-size: 14px;
	}

	footer {
		font-size: 11px;
	}
} 