@charset "EUC-KR";

@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: 300;
	font-style: normal;
}

body, html {
	font-family: 'S-CoreDream-3Light';
	margin: 0;
	padding: 0;
	width: 100%;
}

/* 전체 컨테이너 스타일링 */
.myplogging-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 125px auto 0 auto;
    width: 600px;
    box-sizing: border-box;
}

.cuPlogging-container {
	width: 1200px;
}

/* 섹션 제목 스타일 */
.current-plogging, .completed-plogging {
    width: 100%;
	text-align: left;
	margin-bottom: 10px;
}

.current-text, .completed-text {
	font-size: 30px;
	font-weight: bold;
	color: #00a989;
}

/* 라인 스타일 */
.current-line {
	border-bottom: 2px solid #a1acbd;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.completed-line {
	border-bottom: 2px solid #a1acbd;
	width: 100%;
}

/* 현재 진행 중인 플로깅 정보 */
.current-course {
    width: 100%;
    margin-bottom: 20px;
}

.inProgress-Name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 코스 확인하기 버튼 */
.course-view-button {
	display: inline-block;
    padding: 5px 10px;
    border: none;
    background-color: #00a989;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'S-CoreDream-3Light';
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}

.course-view-button:hover {
	background-color: #08917c;
}

/* 취소하기 버튼 */
.cancel-container {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #08917c; 
    background-color: #fff;
    background-color: #a1acbd;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    border: none; /* 폼에는 기본적으로 테두리가 없지만, 안전을 위해 추가 */
}

.cancel-container:hover {
    background-color: #8b99b1;
}

.cancel-container button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/* QR 코드 섹션 */
.inProgress-img {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inProgress-courseQR1, .inProgress-courseQR2, .inProgress-courseQR3 {
    text-align: center;
    flex-basis: 30%;
}

.inProgress-courseQR1 img, .inProgress-courseQR2 img, .inProgress-courseQR3 img {
    width: 50px;
    height: 50px;
    margin: 10px 0;
}

.inProgress-img .inProgress-courseQR1 span,
.inProgress-img .inProgress-courseQR2 span,
.inProgress-img .inProgress-courseQR3 span {
    display: block;
    text-align: center;
}

.QRS {
    font-size: 16px;
    font-weight: bold;
    color: #777;
}

.mycorseName {
	font-size: 14px;
	font-weight: bold;
}

 .mycorseQrTime {
	font-size: 14px;
	color: #777;
}

.no-current-plogging, .no-completed-plogging {
	text-align: center;
	margin: 50px 0;
	font-size: 16px;
	color: #777;
}

.coPlogging-container {
	width: 1200px;
    margin-top: 75px;
}

/* 완료한 플로깅 정보 */
.completed-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
}

.plogging-table {
    width: 100%;
    border-collapse: collapse;
}

.plogging-table th, .plogging-table td {
    border: none;
    text-align: center;
    padding: 10px;
}

.plogging-table th {
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid #a1acbd;
}

.plogging-table td {
    font-size: 14px;
    color: #777;
    border-bottom: 1px solid #ddd;
}

.plogging-table tr:last-child td {
    border-bottom: none; /* 마지막 행의 각 td 아래에 선 제거 */
}

.completed-btn {
    background-color: #00a989;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'S-CoreDream-3Light';
    font-size: 16px;
    flex-basis: 20%;
    text-align: center;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.completed-btn:hover {
    background-color: #08917c;
}

/* footer */
footer {
	font-size: 13px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
	.myplogging-container {
		width: 100%;
		margin-top: 100px;
	}
	
	.cuPlogging-container {
		width: 90%
	}
	
	.current-text, .completed-text {
		font-size: 24px;
	}
	
	.current-line, .completed-line {
		margin-bottom: 10px;
	}
	
	.inProgress-Name {
    	font-size: 13px;
	}
	
	.QRS {
	    font-size: 15px;
	}
	
	.mycorseName, .mycorseQrTime {
		font-size: 13px;
	}
	
	.no-current-plogging, .no-completed-plogging {
		margin: 40px 0;
		font-size: 14px;
	}

	.coPlogging-container {
		width: 90%;
	}
	
	.completed-btn {
	    font-size: 14px;
	}
	
	 .plogging-table-container {
        overflow-x: auto; /* 가로 스크롤 활성화 */
        -webkit-overflow-scrolling: touch; /* 스크롤이 부드럽게 작동하도록 */
    }

    .plogging-table {
        min-width: 600px; /* 테이블의 최소 너비 설정 (필요에 따라 조정 가능) */
    }
    
    .plogging-table th {
	    font-size: 15px;
	}
	
	.plogging-table td {
	    font-size: 13px;
	}

	footer {
		font-size: 11px;
	}
} 