@charset "EUC-KR";

@font-face {
	font-family: 'TheJamsil5Bold';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: 300;
	font-style: normal;
}

body, html {
	font-family: 'S-CoreDream-3Light';
	margin: 0;
	padding: 0;
	width: 100%;
}

.plocourseImg img {
	display: flex;
	width: 1100px;
	height: auto;
	display: block;
	margin: 0 auto;
	margin-top: 125px;
}

.plocourse-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
	max-width: 750px; /* 최대 너비 설정 */
	width: 100%;
	margin-left: auto; /* 좌우 중앙 정렬 */
	margin-right: auto;
}

.plocourseInfo {
	display: flex;
	flex-direction: column;
	margin: 200px 0;
}

.plocourseInfo-top {
	display: inline-block;
	font-family: 'TheJamsil5Bold';
	font-weight: bold;
	font-size: 45px;
	margin-bottom: 10px;
}

.plocourseInfo-bottom {
	display: inline-block;
	font-size: 25px;
	font-weight: bold;
	color: #a1acbd;
}

/* A코스 */
.Acourse-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
}

/* B,C코스 */
.Bcourse-container, .Ccourse-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0 20px;
	margin-top: 300px;
	box-sizing: border-box;
}

/* 코스 공통 */
.arrow-icon {
	text-align: center;
}

.arrow-icon img {
	width: 30px;
	height: 30px;
}

/* 코스 타이틀 */
.course-title {
	display: flex;
	flex-direction: column;
	padding: 7px 35px;
	border-radius: 75px;
	margin-top: 125px;
	margin-bottom: 25px;
	text-align: center;
	width: 150px;
	color: #fff;
	background-color: #a1acbd;
	white-space: nowrap;
}

.course-name {
	display: inline-block;
	font-weight: bold;
	font-size: 22px;
}

.course-place {
	display: inline-block;
	font-size: 18px;
}

.course-img img {
	max-width: 100%;
	height: auto;
	display: inline-block;
}

.course-spot {
	width: 100%;
	margin-top: 10px;
	align-self: flex-start;
}

.spot-title {
	display: flex;
	align-items: center;
	text-align: left;
}

.spot-title img {
	width: 30px;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 10px;
}

.spot-title h2 {
	display: block;
	margin: 20px 0;
	font-size: 24px;
	font-weight: bold;
	unicode-bidi: isolate;
}

.couse-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0;
	margin-top: 10px;
}

.course-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	padding: 20px;
	width: 150px;
	height: 150px;
	margin: 0 10px;
	border: 1px solid #a1acbd;
	position: relative;
}

.course-innner {
	position: absolute;
	top: -10px;
	left: -10px;
	background-color: #4385c1;
	color: white;
	font-size: 15px;
	padding: 5px 10px;
	border-radius: 8px;
	font-weight: bold;
}

.course-box img {
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
}

.course-box .QR {
	font-size: 20px;
	font-weight: bold;
}

.course-box .QRNick {
	font-size: 16px;
	white-space: nowrap;
	margin-bottom: 5px
}

.left-arrow {
	font-size: 2rem;
	color: #a1acbd;
	margin: 0 10px;
}

.course-Info {
	width: 100%;
	align-self: flex-start;
	margin: 10px 0;
}

.Info-title {
	display: flex;
	align-items: center;
	text-align: left;
}

.Info-title img {
	width: 30px;
	height: 30px;
	margin-top: 20px; margin-bottom : 20px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.Info-title h2 {
	display: block;
	margin: 20px 0;
	font-size: 24px;
	font-weight: bold;
	unicode-bidi: isolate;
}

.c-Info {
	font-size: 16px;
	line-height: 1.6;
	text-align: left;
	align-self: flex-start;
}

button.course-start {
	margin: 30px 0;
	padding: 10px 20px;
	font-family: 'S-CoreDream-3Light';
	font-size: 20px;
	background-color: #00a989;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button.course-start:hover {
	background-color: #08917c;
}

.custom-login-button {
	background-color: #ffa17a !important;
	color: #fff !important;
	border: none !important;
	transition: background-color 0.3s ease;
}

/* footer */
footer {
	font-size: 13px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 25px;
}

/* 스크롤 애니메이션 */
.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}

.button-page-top {
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 1000;
}

#button-page-top-btn {
    opacity: 0;
    transition: opacity 0.3s ease-out, background-color 0.3s ease;
    background-color: #a1acbd;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    font-family: 'S-CoreDream-3Light';
    font-size: 15pt;
}

#button-page-top-btn.visible {
    opacity: 1;
    cursor: pointer;
}

#button-page-top-btn:hover {
    background-color: #00a989;
}

/* 미디어 쿼리 */
@media ( max-width : 768px) {
	.plocourseImg img {
		display: inline-block;
		width: 100%;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	.plocourseInfo-top {
		font-size: 30px;
	}
	.plocourseInfo-bottom {
		font-size: 15px;
	}
	.arrow-icon img {
		width: 20px;
		height: 20px;
	}

	/* 코스 타이틀 */
	.course-title {
		padding: 7px 20px;
	}
	.course-name {
		font-size: 20px;
	}
	.course-place {
		font-size: 15px;
	}
	.spot-title img {
		width: 25px;
		height: 25px;
	}
	.spot-title h2 {
		font-size: 20px;
	}
	.course-box {
		padding: 5px;
		width: 100px;
		height: 100px;
	}
	.course-innner {
		font-size: 13px;
		padding: 4px 8px;
	}
	.course-box img {
		width: 30px;
		height: 30px;
	}
	.course-box .QR {
		font-size: 14px;
	}
	.course-box .QRNick {
		font-size: 11px;
	}
	.left-arrow {
		font-size: 22px;
	}
	.course-Info {
		width: 100%;
		align-self: flex-start;
		margin: 40px 0;
	}
	.Info-title img {
		width: 25px;
		height: 25px;
	}
	.Info-title h2 {
		font-size: 20px;
	}
	.c-Info {
		font-size: 14px;
		line-height: 1.4;
	}
	button.course-start {
		margin: 30px 0;
		padding: 8px 16px;
		font-size: 16px;
	}
	
	.button-page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
	}

	/* footer */
	footer {
		font-size: 11px;
	}
}