@charset "EUC-KR";
@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: 300;
	font-style: normal;
}

body, html {
	font-family: 'S-CoreDream-3Light';
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.recycle-container {
    width: 1350px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 110px;
}

select {
    width: 100%;
    padding: 10px;
    font-family: 'S-CoreDream-3Light';
    font-size: 16px;
    border: 1px solid #a1acbd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.recycle-content {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-top: 50px;
    height: 100%; /* 부모 요소의 높이를 모두 차지 */
}

.recycle-content-left {
    width: 650px;
    text-align: center;
}

.item-image {
    width: 100%;
    height: auto; /* 이미지의 원본 비율을 유지하며 높이를 설정 */
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
}

h2 {
    font-size: 24px;
    color: #08917c;
    margin-bottom: 10px;
}

.recycle-content-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 625px;
    height: auto; /* 자동 높이 설정 */
    box-sizing: border-box;
    margin-left: 30px;
}

.recycle-group {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 그룹 내의 요소들을 중앙에 배치 */
    flex-grow: 1;
    margin-bottom: 75px;
}

.right-Pone {
    font-size: 28px;
    font-weight: bold;
    color: #08917c;
    margin: 0;
}

.right-Sone {
    font-size: 18px;
    margin-top: 5px;
    margin-left: 25px;
    
}

.pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.page-number {
    font-size: 14px;
    color: #a1acbd;
}

.pagination a {
    position: relative;
    color: #a1acbd;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.pagination a:hover {
    text-decoration: underline;
}

.pagination .page-number {
    margin: 0 10px;
    font-weight: bold;
    color: #a1acbd; /* 회색으로 변경 */
}

.pagination a:visited {
    color: #a1acbd;
}

.pagination a:active {
    color: #a1acbd;
}

@keyframes bounceEffect {
  0% {
    transform: translateY(0); /* 원래 위치 */
  }
  50% {
    transform: translateY(-10px); /* 살짝 위로 이동 */
  }
  70% {
    transform: translateY(5px); /* 살짝 아래로 내려오면서 튕김 */
  }
  100% {
    transform: translateY(0); /* 원래 위치로 돌아옴 */
  }
}

.bounce-effect {
  animation: bounceEffect 0.7s ease-out; /* 애니메이션 시간과 속도 조절 */
}


footer {
	font-size: 13px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 25px;
}