@charset "EUC-KR";

@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: 300;
	font-style: normal;
}

body, html {
	font-family: 'S-CoreDream-3Light';
	margin: 0;
	padding: 0;
	width: 100%;
}

.userInfoModify-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 125px auto 0 auto;
	width: 400px;
	box-sizing: border-box;
}

.Info-container {
	width: 100%;
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	color: #00a989;
	margin-bottom: 5px;
}

.Info-line {
	border-bottom: 2px solid #a1acbd;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.Info-container-inner {
	display: flex;
	align-self: flex-start;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
}

.ic-inner-left img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.ic-inner-right {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-top: auto;
	text-align: left;
}

#image-upload-form {
    display: block; /* 요소들을 블록 레벨로 설정 */
    margin-top: 10px; /* 위쪽 여백 추가 (선택 사항) */
}

#image-upload-form span {
    display: block; /* span을 블록으로 설정하여 줄 바꿈 */
    margin-bottom: 5px; /* span과 버튼 사이에 간격 추가 */
}

.upload-button {
	width: 90px;
	height: 30px;
	text-align: center;
	white-space: nowrap;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	color: #fff;
	background-color: #a1acbd;
	font-family: 'S-CoreDream-3Light';
	font-size: 13px;
	transition: background-color 0.3s, color 0.3s;
}

.upload-button:hover {
    background-color: #8b99b1;
}

/* 수정 테이블 */
#userInfo-form {
	width: 100%;
	border-collapse: collapse;
}

#userInfo-form th, #userInfo-form td {
	text-align: left;
	padding: 6px;
	vertical-align: middle;
}

#userInfo-form th {
	width: 125px;
	font-weight: bold;
	font-size: 18px;
	color: #333;
}

#userInfo-form td input[type="email"], #userInfo-form td input[type="text"],
	#userInfo-form td input[type="password"] {
	width: 100%;
	padding: 6px;
	box-sizing: border-box;
	border: 1px solid #a1acbd;
	border-radius: 5px;
	font-family: 'S-CoreDream-3Light';
	font-size: 16px;
	outline: none;
}

/* 아이디, 휴대폰번호 선 제거 */
#MuserId {
	width: 100%;
	padding: 6px;
	box-sizing: border-box;
	border: none !important;
	outline: none !important;
	background-color: transparent !important;
}

#MuserPw {
	width: 100%;
	padding: 6px;
	box-sizing: border-box;
	border: none !important;
	outline: none !important;
	background-color: transparent !important;
}

#MuserPhone {
	width: 100%;
	padding: 6px;
	box-sizing: border-box;
	border: none !important;
	outline: none !important;
	background-color: transparent !important;
}

/* 비밀번호 필드와 버튼에만 적용 */
.pw-field {
	display: flex;
	align-items: center;
}

.pw-field input {
	margin-right: 8px;
}

#change-pw-button {
	padding: 5px 12px;
	background-color: #a1acbd;
	color: white;
	border: 1px solid #a1acbd;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	font-family: 'S-CoreDream-3Light';
	font-size: 13px;
	transition: background-color 0.3s, color 0.3s;
}

#change-pw-button:hover {
    background-color: #8b99b1;
}

#change-pw-section {
	display: none;
	margin-top: 10px;
}

#userInfo-form td.button-group {
	display: flex;
	justify-content: center;
	gap: 10px;
	width: 100%;
	box-sizing: border-box;
}

#cancel-button, #save-button {
	padding: 8px 12px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	white-space: nowrap;
	flex-grow: 1;
	text-align: center;
	box-sizing: border-box;
	font-family: 'S-CoreDream-3Light';
	font-size: 13px;
	transition: background-color 0.3s, color 0.3s;
}

#cancel-button {
	background-color: #a1acbd;
	color: white;
}

#cancel-button:hover {
    background-color: #8b99b1;
}

#save-button {
	background-color: #00a989;
	color: white;
}

#save-button:hover {
	background-color: #08917c;
}

#userInfo-form td.button-group {
	display: flex;
	justify-content: space-between; /* 버튼들 사이에 간격을 설정 */
	gap: 10px; /* 버튼들 사이의 간격 설정 */
}

.Modify-button-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 30px;
}

.Modify-button {
	width: 45%;
	background-color: #00a989;
	color: white;
	padding: 8px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.Modify-button:hover {
	background-color: #08917c;
}

footer {
	font-size: 13px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
	.userInfoModify-container {
		width: 90%;
		margin-top: 100px;
		box-sizing: border-box;
	}
	.Info-container {
		font-size: 24px;
	}
	.ic-inner-right span {
		font-size: 13px;
	}
	.upload-button {
		width: 85px;
		height: 30px;
		text-align: center;
		white-space: nowrap;
		padding: 4px 9px;
		font-size: 12px;
	}
	#userInfo-form th {
		font-size: 16px;
	}
	#userInfo-form td input[type="email"], #userInfo-form td input[type="text"],
		#userInfo-form td input[type="password"] {
		padding: 7px;
		font-size: 14px;
	}
	#change-pw-button {
		padding: 7px 11px;
		font-size: 12px;
	}
	#cancel-button, #save-button {
		padding: 7px 11px;
		font-size: 12px;
	}
	
	.Modify-button {
		width: 35%;
		padding: 9px;
		font-size: 14px;
	}
	
	footer {
		font-size: 11px;
	}
}